/* LINKS */
a {
    color: darkgreen;
}
a:hover {
    color: burlywood;
    text-decoration: none;
}
.btn, .returnbtn {
    background: rgba(244, 255, 255, .5);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    display: inline-block;
    padding: auto 3px;
    letter-spacing: .1rem;
    line-height: 1;
    border-radius: 4px;
}
.returnbtn {
    margin-top: 10px;
    padding: 3px;
}

/* HOMEPAGE / INDEX PAGE */
.about, .contacts {
    box-sizing: border-box; 
    background: rgba(255, 255, 255, 0.5);
    width: 350px;
    height: 550px;
    margin-top: 75px;
    padding: 25px;
    display: inline-block;
}
.about {
    margin-left: 225px;
}
.contacts {
    float: right;
    margin-right: 225px;
}

/* IMAGES */
.home_image {
    background: url('../images/Nature.jpg') no-repeat center; 
    background-size: cover;
    position: relative;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.linkedin {
    margin-left: 13px; 
}
.gmail { 
    margin-top: 30px;
}
.office {
    margin-top: 25px;
    margin-right: 13px;
}

/* TEXTS */
.text {
    color: black;
    padding-left: 10px;
    line-height: 1.4;
}
.center {
    text-align: center;
}
.indent {
    text-indent: 12.5px;
}
.name {
    color: midnightblue;
    margin: 20px;
    font-style: oblique;
    font-size: 45px;
}
.role {
    color: midnightblue;
    margin: 20px;
    font-style: normal;
    font-size: 36px;
}

/* FOOTER */
.contacts { 
    background: rgba(255, 255, 255, 0.5);
}

/* RESUME */
/* IMAGES */
.res header::before {
    background: url('../images/Piers.jpg') no-repeat center; 
    background-size: cover;
    content: "";
    display: block;
    max-width: 2000px;
    height: 400px; 
    margin: -20px -15px 0 -15px;
}
.background {
    background: rgba(126, 123, 123, 0.3);
    background-size: cover;
    content: "";
    display: block;
    height: 500px; 
}

/* TEXTS */
.subsections {
    color: darkred;
    font-family: 'Lobster', cursive; 
    font-size: 36px;
    line-height: 1.4;
}
.res_text {
    color: grey; 
    padding-left: 10px;
    line-height: 1.4;
}
.g {
    color: grey;
}
.pdf {
    position: fixed; 
    top: 5px;
    left: 5px; 
    font-size: 1.1rem;
    letter-spacing: .05rem;
    padding: 3px;
}

/* PROFILE */
.center1 {
    padding: 20px;
    width: 400px;
    margin: 0 auto;
}
.res_indent {
    margin: 0 250px;
} 

/* PROJECTS */
.project_bp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

/* DASHES */
.dash {
    border: 1px dashed black;
}

/* EXPERIENCE */
.work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 10px;
    margin: 30px 0; 
}
.work-summary p:first-child {
    margin-top: 0;
}
.work-details p {
    margin: 0;
}
.bullet-margins {
    margin-top: 10px;
}
