/* Default styles for all elements on a webpage */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    overflow: scroll;
}

body {
    background-color: lightgrey;
    color: white;
    overflow: auto;
}

html {
    scroll-behavior: smooth;
}

/* Header Section */
#header {
    width: 100vw;
    height: 100vh;
}

.name {
    font-family: "Lobster", sans-serif;
    font-size: 100px;
    color: black;
    margin-left: 6vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.5s ease;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.slide.active {
    display: block;
    opacity: 1;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent, rgb(255, 255, 255) 85%);
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.nav-items {
    top: 20%;
    left: 60%;
    position: absolute;
}

.nav-links {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-links:hover {
    text-decoration: underline;
    color: white;
}

.welcome {
    position: absolute;
    color: black;
    font-size: 100px;
    font-weight: 500;
    margin-top: 10%;
    margin-left: 6%;
    animation: fadeInLeft 2s;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.intro-message {
    position: absolute;
    color: white;
    margin-top: 8%;
    margin-left: 62%;
    width: 425px;
    padding: 10px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7.5px;
    text-align: left;
}

.full-stack {
    position: relative;
    font-size: 30px;
    text-align: left;
}

.leon {
    position: relative;
    font-weight: 900;
    color: black;
}

.contact-fade {
    position: absolute;
    height: 20%;
    bottom: 0;
    width: 100%;
    background-color: white;
    background: linear-gradient(to bottom, transparent, rgb(44, 202, 191) 85%);
}

/* About Section */
#about {
    position: relative;
    width: 100vw;
    height: 101vh;
    background-color: rgb(183, 183, 183);
    color: black; 
}

.about-col-1 img {
    border-radius: 15px;
    width: 300px;
    height: 600px;
    margin-left: 35%;
}

.about-col-1,
.about-col-2 {
    width: 50%;
}

.about-container {
    margin-top: 3%; 
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-me {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.self-desc {
    font-size: 20px;
    margin-top: 10px;
    width: 77.5%;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    background: linear-gradient(to bottom, transparent, white 90%);
    width: 77.5%;
}

.tab-links {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.about-1:hover,
.about-2:hover,
.about-3:hover {
    color: black;
}

.tab-content {
    display: none;
}

.tab-content.active-tab {
    display: flex;
}

.soft-skills {
    margin-left: 2%;
}

/* Contact Section */
#contact {
    position: relative;
    height: 90vh; 
    background-color: black;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.left-contact-container {
    margin-left: 20px;
}

.left-contact,
.right-contact {
    width: 50%;
    position: relative; 
}

.contact-me {
    font-size: 40px;
    font-weight: 600;
}

.left-contact {
    flex-basis: 35%;
    margin-top: 50px; 
}

.left-contact span {
    color: blue; 
    font-size: 30px;
}

.left-contact p {
    margin-left: 15px;
    font-size: 20px;
}

.left-contact p {
    margin-top: 5px; 
    width: 100%;
}

.contact-row {
    display: flex;
    justify-content: space-between;
}

.contact-row:hover {
    color: white; 
}

.phone:hover, .gmail:hover {
    color: white; 
    text-decoration: underline;
}

.right-contact {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

input {
    background-color: grey;
    border-radius: 5px;
    width: 85%; 
    height: 50px; 
    border: 0; 
    outline: none; 
    font-size: 22px; 
    padding-left: 15px; 
}

textarea {
    background-color: grey;
    border-radius: 5px;
    width: 85%; 
    height: 35%; 
    margin-top: 1%; 
    border: 0; 
    outline: none; 
    text-decoration: none;
    overflow: scroll; 
    font-size: 20px;
    padding-left: 15px;
    padding-top: 10px;
    overflow: scroll; 
}

.submit-btn, .cv-btn {
    background-color: blue;
    color: white; 
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    border: none; 
    border-radius: 5px;
    width: 23%;
    height: 50px; 
    margin-top: 2%;
    margin-left: 33%; 
    cursor: pointer; 
    transition: transform .3s;
}

.cv-btn {
    margin-left: .1%; 
    margin-top: 18.5px; 
    height: 60px; 
    width: 35%;
    transition: transform .3s; 
}

.submit-btn:hover, .cv-btn:hover {
    background-color: red;
    transform: scale(.8); 
}

::placeholder {
    color: white; 
    font-style: italic;
    font-size: 18px;
}

textarea::placeholder {
    font-size: 20px;
}

.contact-flex {
    display: flex;
}

.social-icons {
    margin-top: 20px; 
}

.fab.fa-linkedin {
    color: rgb(10, 102, 194); 
    font-size: 37.5px; 
    margin-left: -1.5px; 
    margin-right: 20px; 
    border-radius: 10px;
}

.fab.fa-linkedin:hover {
    color: white; 
}

.linkedin-container {
    margin-top: 5px;
    margin-left: -21px; 
    cursor: pointer;
}
